@import url(../../../stylesheets/application.css) ;;
.icon {
  background-position: 0% 50%;
  background-repeat: no-repeat;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 3px; }

.icon-add {
  background-image: url(/images/add.png); }

.icon-edit {
  background-image: url(/images/edit.png); }

.icon-copy {
  background-image: url(/images/copy.png); }

.icon-duplicate {
  background-image: url(/images/duplicate.png); }

.icon-del {
  background-image: url(/images/delete.png); }

.icon-move {
  background-image: url(/images/move.png); }

.icon-save {
  background-image: url(/images/save.png); }

.icon-cancel {
  background-image: url(/images/cancel.png); }

.icon-multiple {
  background-image: url(/images/table_multiple.png); }

.icon-folder {
  background-image: url(/images/folder.png); }

.open .icon-folder {
  background-image: url(/images/folder_open.png); }

.icon-package {
  background-image: url(/images/package.png); }

.icon-user {
  background-image: url(/images/user.png); }

.icon-projects {
  background-image: url(/images/projects.png); }

.icon-help {
  background-image: url(/images/help.png); }

.icon-attachment {
  background-image: url(/images/attachment.png); }

.icon-history {
  background-image: url(/images/history.png); }

.icon-time {
  background-image: url(/images/time.png); }

.icon-time-add {
  background-image: url(/images/time_add.png); }

.icon-stats {
  background-image: url(/images/stats.png); }

.icon-warning {
  background-image: url(/images/warning.png); }

.icon-fav {
  background-image: url(/images/fav.png); }

.icon-fav-off {
  background-image: url(/images/fav_off.png); }

.icon-reload {
  background-image: url(/images/reload.png); }

.icon-lock {
  background-image: url(/images/locked.png); }

.icon-unlock {
  background-image: url(/images/unlock.png); }

.icon-checked {
  background-image: url(/images/true.png); }

.icon-details {
  background-image: url(/images/zoom_in.png); }

.icon-report {
  background-image: url(/images/report.png); }

.icon-comment {
  background-image: url(/images/comment.png); }

.icon-summary {
  background-image: url(/images/lightning.png); }

.icon-server-authentication {
  background-image: url(/images/server_key.png); }

.icon-issue {
  background-image: url(/images/ticket.png); }

.icon-zoom-in {
  background-image: url(/images/zoom_in.png); }

.icon-zoom-out {
  background-image: url(/images/zoom_out.png); }

.icon-file {
  background-image: url(/images/files/default.png); }

.icon-file.text-plain {
  background-image: url(/images/files/text.png); }

.icon-file.text-x-c {
  background-image: url(/images/files/c.png); }

.icon-file.text-x-csharp {
  background-image: url(/images/files/csharp.png); }

.icon-file.text-x-php {
  background-image: url(/images/files/php.png); }

.icon-file.text-x-ruby {
  background-image: url(/images/files/ruby.png); }

.icon-file.text-xml {
  background-image: url(/images/files/xml.png); }

.icon-file.image-gif {
  background-image: url(/images/files/image.png); }

.icon-file.image-jpeg {
  background-image: url(/images/files/image.png); }

.icon-file.image-png {
  background-image: url(/images/files/image.png); }

.icon-file.image-tiff {
  background-image: url(/images/files/image.png); }

.icon-file.application-pdf {
  background-image: url(/images/files/pdf.png); }

.icon-file.application-zip {
  background-image: url(/images/files/zip.png); }

.icon-file.application-x-gzip {
  background-image: url(/images/files/zip.png); }

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
body {
  background: #f0f5fe url(../images/body_noise.gif);
  color: #333333;
  font-family: helvetica, "helvetica neue", arial, sans-serif;
  font-size: 76%;
  line-height: 1.6em;
  margin: 10px; }

#wrapper {
  background: none; }

a:link {
  color: #4183c4;
  text-decoration: underline; }
a:hover {
  color: #63a5e6;
  text-decoration: underline; }
a:visited {
  color: #222299; }
a img {
  border: none; }

ul, ol {
  margin: 1em 0;
  padding: 0; }

li {
  margin-left: 1.5em;
  padding: 0; }

h1, h2, h3 {
  border: none;
  font-family: "Myriad Pro", arial, serif;
  letter-spacing: -1px;
  padding: 0; }

h1 {
  font-size: 1.96em; }

h2 {
  font-size: 1.96em;
  margin-bottom: 0.4em;
  margin-top: 1em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 0.2em;
  margin-top: 1.2em; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 0.2em 0.5em; }

td p {
  margin: 0; }

th {
  text-align: left; }

table .checkbox {
  padding: 0.2em;
  text-align: center; }
  table .checkbox input {
    float: none;
    margin-right: 0; }

table.list {
  border: 0; }
  table.list th {
    background: #e4e4ef; }
  table.list tr, table.list th, table.list td {
    border-bottom: 1px solid #e4e4ef; }
  table.list tr.odd, table.list tr.even {
    background: inherit; }
  table.list td.id {
    text-align: left; }

hr {
  border: none;
  border-top: 1px solid #e4e4ef; }

#sidebar h2, #sidebar h3 {
  color: #333333; }
#sidebar p {
  clear: both; }

#header h1 a.root,
#header h1 a.ancestor {
  color: #999999;
  font-size: 1em;
  text-decoration: none; }
  #header h1 a.root:hover,
  #header h1 a.ancestor:hover {
    color: #63a5e6;
    text-decoration: underline; }

.author {
  color: #888888;
  font-size: 0.8em;
  margin-top: 0; }

.flash {
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  background-color: #321401;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-align: center;
  margin: 1em 0 0.5em 0;
  padding: 9px 18px; }

.error {
  background-color: red;
  color: #dd0000; }

.notice {
  background-color: #99ff99;
  color: #339933; }

.pagination {
  text-align: center; }

p.subtitle {
  color: #888888;
  font-size: 0.9em;
  font-style: normal;
  margin: 0; }

.splitcontentleft, .splitcontentright {
  width: 48%; }

.splitcontentleft {
  float: left; }

.splitcontentright {
  float: right; }

.contextual {
  float: right;
  font-size: inherit; }

#content > .contextual {
  margin-top: 0.4em; }

.nodata {
  color: #888888; }

.tip {
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 2em;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 2em; }

#top-menu {
  background: none;
  font-size: inherit;
  height: auto;
  padding: 0;
  position: relative;
  z-index: 999; }
  #top-menu:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both; }
  #top-menu a {
    font-weight: normal;
    margin-right: inherit; }
  #top-menu #account, #top-menu #loggedas {
    position: absolute;
    right: 0;
    text-align: center;
    width: 180px; }
    #top-menu #account a:active, #top-menu #loggedas a:active {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  #top-menu #account {
    bottom: 0; }
    #top-menu #account ul {
      background: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-left: auto;
      margin-right: auto;
      width: 100%; }
      #top-menu #account ul li {
        width: 50%; }
      #top-menu #account ul a {
        border: none;
        color: #4183c4;
        display: block;
        padding: 0;
        text-shadow: none; }
  #top-menu #loggedas {
    border-bottom: 1px solid #e4e4ef;
    color: #333333;
    float: right;
    margin-right: inherit; }
    #top-menu #loggedas a {
      color: #4183c4; }
  #top-menu ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
    background: #666666;
    background: #666666 -moz-linear-gradient(top, #777777, #444444);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    overflow: visible; }
    #top-menu ul li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative; }
    #top-menu ul a {
      display: block;
      padding: 9px;
      text-decoration: none; }
    #top-menu ul li > * {
      border-left: 1px solid rgba(200, 200, 200, 0.3);
      border-top: 1px solid rgba(200, 200, 200, 0.3);
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding: 9px 18px; }
    #top-menu ul li:first-child a {
      border-top-left-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px; }
    #top-menu ul li:last-child a {
      border-top-right-radius: 4px;
      -moz-border-radius-topright: 4px;
      -webkit-border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      -moz-border-radius-bottomright: 4px;
      -webkit-border-bottom-right-radius: 4px; }
    #top-menu ul a {
      color: white;
      text-decoration: none;
      text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px; }
      #top-menu ul a:hover {
        text-decoration: underline; }
      #top-menu ul a.active, #top-menu ul a:active {
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(200, 200, 200, 0.3);
        border-bottom: 1px solid rgba(200, 200, 200, 0.3);
        -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 1em inset;
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 1em inset;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 1em inset; }
    #top-menu ul ul.projects {
      -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 9px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 9px;
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 9px;
      border-top-left-radius: 0;
      -moz-border-radius-topleft: 0;
      -webkit-border-top-left-radius: 0;
      border-top-right-radius: 0;
      -moz-border-radius-topright: 0;
      -webkit-border-top-right-radius: 0;
      border: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 38px;
      left: 0px;
      z-index: 999; }
      #top-menu ul ul.projects li {
        float: none; }
        #top-menu ul ul.projects li a {
          border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0; }
        #top-menu ul ul.projects li .selected:before {
          content: "✔ "; }
      #top-menu ul ul.projects li:last-child a {
        border-bottom-right-radius: 4px;
        -moz-border-radius-bottomright: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        -webkit-border-bottom-left-radius: 4px; }

#header {
  background: none;
  color: #333333;
  height: auto;
  margin: 36px 0 0 0;
  padding: 0; }
  #header h1 {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9);
    margin: 0 18px; }
  #header #main-menu {
    float: left;
    margin-left: 9px;
    margin-right: auto;
    position: relative;
    left: 0; }
    #header #main-menu ul {
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
      margin-left: 0; }
      #header #main-menu ul li {
        float: left;
        margin: 0;
        padding: 0;
        position: relative; }
      #header #main-menu ul a {
        display: block;
        padding: 9px;
        text-decoration: none; }
      #header #main-menu ul li {
        margin-right: 1px; }
      #header #main-menu ul a {
        background: none;
        color: #333333;
        font-weight: normal; }
        #header #main-menu ul a:hover, #header #main-menu ul a:active {
          color: #4183c4; }
        #header #main-menu ul a.selected {
          font-weight: bold; }
  #header #quick-search form {
    float: left; }
  #header #quick-search a {
    color: #333333;
    text-decoration: none; }
  #header #quick-search form {
    display: block; }
  #header #quick-search input {
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-top: 1px solid #848484;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #c1c1c1;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 1px 1px 2px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 1px 1px 2px;
    box-shadow: inset rgba(0, 0, 0, 0.2) 1px 1px 2px;
    padding: 0.2em 1em; }
  #header #quick-search select {
    float: right;
    width: 150px; }

#main {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
  background: white;
  border: 1px solid #e4e4ef;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  clear: both;
  margin: 9px 0;
  overflow: hidden; }
  #main #content {
    background: white;
    border: 0;
    margin: 0 254px 18px 18px;
    min-height: 21em;
    padding: 0;
    width: auto; }
  #main #sidebar {
    background: #efefff;
    background: -moz-linear-gradient(center top, #efefff 50%, white) repeat scroll 0 0 transparent;
    background: url(../images/sidebar_separator.png) 0 100% no-repeat, -moz-linear-gradient(center top, #efefef 50%, white) repeat scroll 0 0 transparent;
    border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
    float: right;
    padding: 18px;
    padding-bottom: 72px;
    width: 200px; }
    #main #sidebar h3:first-child {
      color: #333333;
      font-size: 1.4em;
      margin-top: 0.45em; }
    #main #sidebar label {
      clear: both;
      font-weight: normal;
      width: auto; }
  #main.nosidebar #content {
    margin-right: 27px; }
  #main.nosidebar #sidebar {
    display: none; }

.box {
  background-color: #eeeeef;
  background: -moz-linear-gradient(top, white, #eeeeef);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: inset white 0 0 1em;
  -webkit-box-shadow: inset white 0 0 1em;
  box-shadow: inset white 0 0 1em;
  border: 1px solid #e4e4ef;
  margin: 9px 0;
  padding: 18px; }
  .box h3:first-child {
    margin-top: 0; }

#footer {
  background: none;
  border: none;
  clear: both;
  font-size: 0.8em;
  margin: 18px;
  text-align: center; }

#ajax-indicator {
  background: black;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  color: white;
  display: block;
  font-weight: normal;
  left: 50%;
  margin-left: -50px;
  opacity: 1;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 9px;
  width: 100px; }
  #ajax-indicator span {
    background: none;
    padding: 0; }

form em {
  display: block;
  margin-left: 17%;
  font-size: 0.8em; }
form p {
  margin: 9px 0;
  overflow: hidden; }
  form p br {
    display: none; }
form input {
  margin: 2px 0;
  max-width: 80%; }

label {
  font-weight: bold;
  margin: 2px 0 2px 0;
  text-align: right; }
  label.block input[type=checkbox] {
    margin-right: 0.5em; }

#issue_subject {
  width: 75%; }

fieldset {
  background-color: #eeeeef;
  background: -moz-linear-gradient(top, white, #eeeeef);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: inset white 0 0 1em;
  -webkit-box-shadow: inset white 0 0 1em;
  box-shadow: inset white 0 0 1em;
  border: 1px solid #e4e4ef;
  margin: 9px 0;
  padding: 18px; }
  fieldset.box {
    margin-left: -1px;
    margin-right: -1px; }
  fieldset.collapsible {
    border-width: 1px; }
  fieldset legend {
    font-weight: bold;
    margin-top: 9px;
    padding: 0;
    text-shadow: #eeeeef 0 0 2px; }
  fieldset label {
    text-align: left; }
    fieldset label.floating {
      width: 18%; }
  fieldset p {
    clear: left; }

.box fieldset {
  border: 0;
  background: inherit;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0; }

input[type=submit] {
  margin: 18px 1em 18px 0;
  padding: 18px; }

.box + input[type=submit] {
  font-weight: bold; }

.errorExplanation, .error {
  color: #dd0000; }
  .errorExplanation h2, .error h2 {
    font-size: 1em; }
  .errorExplanation p, .error p {
    margin-top: 0; }

.fieldWithErrors input {
  border-color: #dd0000; }

div.jstElements,
div.jstEditor {
  padding: 0; }

div.jstElements button {
  margin-right: 1px; }
div.jstElements .help {
  margin-right: 0; }

div.jstEditor textarea {
  padding: 0.3%;
  width: 99%; }

#attachments_fields {
  display: block; }
  #attachments_fields label.inline {
    display: block;
    float: none;
    text-align: left;
    width: auto;
    margin-bottom: 0; }
    #attachments_fields label.inline span {
      margin-right: 1em; }
  #attachments_fields br {
    display: none; }
  #attachments_fields input[type=file] {
    margin-left: 17%; }
  #attachments_fields input[type=file]:first-child {
    margin-left: 0; }

#watchers_form {
  overflow: hidden; }
  #watchers_form .floating {
    float: left;
    font-weight: normal;
    margin: 0;
    text-align: left;
    width: 25%; }

form table {
  margin: 18px 0; }
  form table td, form table th {
    padding: 0.2em; }
  form table td label {
    float: none;
    text-align: inherit;
    width: auto; }
  form table td input {
    float: left;
    margin-right: 1em; }
  form table table {
    margin: 0; }
form fieldset table {
  margin-top: 0; }

#filters table {
  margin: 0; }

#content .tabs {
  background: #eeeeef;
  background: -moz-linear-gradient(top, #eeeeef, #ddddde);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 3em; }
  #content .tabs ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    border: 0;
    padding: 0; }
    #content .tabs ul li {
      float: left;
      margin: 0;
      padding: 0;
      position: relative; }
    #content .tabs ul a {
      display: block;
      padding: 9px;
      text-decoration: none; }
    #content .tabs ul li {
      background: transparent;
      margin: 0; }
      #content .tabs ul li a {
        background: transparent;
        border: 0;
        font-weight: normal;
        padding: 11px 9px; }
        #content .tabs ul li a:hover {
          background: transparent;
          color: #63a5e6; }
        #content .tabs ul li a.selected {
          background: transparent;
          border: 0;
          color: #333333;
          position: relative; }
          #content .tabs ul li a.selected:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            content: "";
            display: block;
            border-top: 0;
            border-right: 9px solid transparent;
            border-bottom: 9px solid white;
            border-left: 9px solid transparent;
            width: 0px;
            margin-left: -9px; }
          #content .tabs ul li a.selected:hover {
            background: transparent; }
  #content .tabs .tabs-buttons {
    display: none; }

.action-login #wrapper, .action-lost_password #wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 50%; }
.action-login #top-menu, .action-lost_password #top-menu {
  float: right;
  margin-right: 18px;
  padding: 0; }
  .action-login #top-menu #account, .action-lost_password #top-menu #account {
    float: right;
    position: relative;
    width: auto; }
    .action-login #top-menu #account ul, .action-lost_password #top-menu #account ul {
      width: auto; }

.controller-activities .time {
  color: #888888;
  font-size: 0.8em; }
.controller-activities dd {
  margin-bottom: 1em;
  margin-left: 1em; }

.controller-calendars table.cal td {
  border: 1px solid #e4e4ef;
  vertical-align: top;
  height: 6em;
  width: 14%; }
  .controller-calendars table.cal td.week-number {
    border: none;
    color: #888888;
    text-align: right;
    width: auto; }
.controller-calendars .buttons {
  margin: 18px 0; }
  .controller-calendars .buttons label {
    float: none;
    margin: 0 0 0 18px; }
    .controller-calendars .buttons label:after {
      content: ":"; }
.controller-calendars .starting a, .controller-calendars .legend .starting {
  background: url("/images/bullet_go.png") no-repeat scroll -1px -2px transparent;
  padding-left: 16px; }
.controller-calendars .ending a, .controller-calendars .legend .ending {
  background: url("/images/bullet_end.png") no-repeat scroll -1px -2px transparent;
  padding-left: 16px; }
.controller-calendars .starting.ending a, .controller-calendars .legend .starting.ending {
  background: url("/images/bullet_diamond.png") no-repeat scroll -1px -2px transparent;
  padding-left: 16px; }
.controller-calendars .legend span {
  display: block; }

#query_form_content fieldset {
  padding-top: 0; }
#query_form_content legend {
  cursor: pointer; }
#query_form_content table th, #query_form_content table td {
  border: none;
  padding: 0.2em 0;
  vertical-align: top;
  font-weight: bold; }
#query_form_content #available_columns, #query_form_content #selected_columns {
  width: 99% !important; }
#query_form_content tr.filter td input {
  float: left; }
#query_form_content td.add-filter {
  text-align: right;
  vertical-align: top; }
  #query_form_content td.add-filter label {
    display: inline;
    float: none;
    width: auto; }

div.issue {
  background: none;
  border: none;
  margin: 36px 0;
  padding: 0; }

td div.issue {
  margin: 0; }

tr.issue {
  text-align: left; }

table.attributes th {
  padding-left: 0; }

#issue-form .box {
  background: -moz-linear-gradient(top, white, #f0f5fe);
  border: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 18px 0;
  padding: 0; }

#history .journal {
  border-left: 4px solid #e4e4ef;
  padding-left: 18px; }
  #history .journal .journal-link {
    display: inline; }

#update {
  background-color: #eeeeef;
  background: -moz-linear-gradient(top, white, #eeeeef);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: inset white 0 0 1em;
  -webkit-box-shadow: inset white 0 0 1em;
  box-shadow: inset white 0 0 1em;
  border: 1px solid #e4e4ef;
  margin: 9px 0;
  padding: 18px; }

#login-form table {
  background: none;
  border: none;
  margin: 1em 0; }

.controller-account.action-login #main #content {
  min-height: 0; }

.action-issue_report .list th {
  text-align: center;
  text-transform: capitalize; }
